@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap')

:root {
    --bg-color: #CD1818;
    --primary-color: #0008ff;
    --secundary-color: #a600ff;
    --font: "Nutinos Sans", sans-serif;
}